@model IEnumerable<Quiron.LojaVirtual.Dominio.Entidade.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th width="17%">
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th width="50%">
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th width="13%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdutoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdutoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdutoId })
        </td>
    </tr>
}

</table>
